export TEST_DEV=testbucket
export TEST_DIR=/tmp/geesefs
export SCRATCH_DEV=testbucket2
export SCRATCH_MNT=/tmp/geesefs2
export FSTYP=fuse
export FUSE_SUBTYP=.geesefs
export MOUNT_OPTIONS="-o allow_other -o--retry-interval=5s -o--log-file=/tmp/geesefs.log -o--endpoint=http://localhost:8080"
export TEST_FS_MOUNT_OPTS="-o allow_other -o--retry-interval=5s -o--log-file=/tmp/geesefs.log -o--endpoint=http://localhost:8080"
export UMOUNT_PROG=/home/geesefs/xfstests/sync_unmount.py
