# local.config example for xfstests
FSTYP=fuse.geesefs
TEST_DIR=/home/testdir
TEST_DEV=testbucket:
TEST_FS_MOUNT_OPTS="-o allow_other -o--debug_fuse -o--retry-interval=5s -o--log-file=/root/xfstests/geesefs.log"
MOUNT_OPTIONS="-o allow_other -o--debug_fuse -o--retry-interval=5s -o--log-file=/root/xfstests/geesefs.log"
SCRATCH_DEV=testbucket2:
SCRATCH_MNT=/home/testdir2
UMOUNT_PROG=/root/xfstests/sync_unmount
