Port 22

UseDNS no

PermitRootLogin no
X11Forwarding no
AllowTcpForwarding no
AllowAgentForwarding no
PermitTunnel no
PermitTTY no

# Force sftp and chroot jail
Subsystem sftp internal-sftp
ForceCommand internal-sftp -d /s3
ChrootDirectory /home

