name: Test

on:
  push:
    branches:
    - master

jobs:

  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.25.5

    - name: Build linux amd64
      run: env CGO_ENABLED=0 go build -o geesefs-linux-amd64 -v && ln -s geesefs-linux-amd64 geesefs

    - name: Run tests
      run: SAME_PROCESS_MOUNT=1 make run-test
      timeout-minutes: 12

    - name: Run xfstests
      # Often crashes in CI due to memory limits
      continue-on-error: true
      run: make run-xfstests
      timeout-minutes: 10
